*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*Produto*/
    --brand-color: #EF5F4C;
    
    /*Shape*/
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: #ffffff8f; 

    /*Text*/
    --text-color-primary: #313131;
    --text-color-secundary: #6C6C6C;

    /*Font*/
    --font-family: "Poppins", sans-serif;
    --text-lg: bold 32px/125% var(--font-family);
    --text: 16px/150% var(--font-family);
    --text-md: 14px/175% var(--font-family);
    --text-sm: 12px/175% var(--font-family);
}

body{
    font: var(--text);
    color: var(--text-color-secundary);
    background-color: var(--background-color);
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: var(--brand-color);
    text-decoration: underline;
}

.container{
    padding-inline: 32px;
    max-width: 1280px;
    margin-inline: auto;
}

.bg-surface-color{
    background-color: var(--surface-color);
}

/* ===== MEDIA QUERIES PARA MOBILE 375x667 ===== */
@media screen and (max-width: 375px) {
    :root {
        /* Ajuste de fontes para mobile */
        --text-lg: bold 24px/125% var(--font-family);
        --text: 14px/150% var(--font-family);
        --text-md: 12px/175% var(--font-family);
        --text-sm: 11px/175% var(--font-family);
    }
    
    .container {
        padding-inline: 16px; /* Reduz padding lateral */
        max-width: 375px;
    }
}